@model DynamicsNAV365_Staff_WebPortal.Models.FinanceModels.FinanceHomeModels.EmployeeBalancesModel

<div class="@((Model.Amount>0 ? "panel panel-danger" : "panel panel-success"))">
	<div class="panel-heading">
		<i class="fa fa-money fa-fw"></i>@((Model.Amount > 0 ? "Imprest Balance" : "Imprest Balance"))
	</div>
	<div class="panel-body">
		<table id="imprestBalanceTable" class="table table-striped table-responsive">
			<thead>
				<tr>
					<th>Description</th>
					<th align="right">Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Imprest Balance</td>
					<td align="right">@Model.AmountStr</td>
				</tr>
			</tbody>
			<tfoot>

			</tfoot>
		</table>
	</div>
</div>

