.dynamics-nav-skin .navbar{
    color:white;
    background-color:#0f3d7b;
}
.dynamics-nav-skin .modal-header{
    color:white;
    background-color:#0f3d7b;
}

.dynamics-nav-skin .modal-footer{
    color:white;
    background-color:#0f3d7b; 
}
